<nav class="navbar navbar-expand-lg navbar-dark shadow">
    <div class="container-fluid">
      <a class="navbar-brand" >CineNova</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" >Cartelera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Cines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Alimentos y bebidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Promociones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  