.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);  
    background: #273043;  
  }
  
  .nav-link {
    transition: color 0.3s;  
    color: #ffffff;  
  }
  
  .nav-link:hover {
    color: #f39c12;
  }
  
  .navbar-brand {
    font-size: 1.5rem;  
    font-weight: bold;  
    color: #ffffff; 
  }
  
  .nav-item.active .nav-link {
    color: #f39c12;  
  }
  